{% extends "base.html" %}
{% block title %}Plan Event{% endblock %}
{% block excss %}{% endblock %}
{% block content %}
<h1 id="page_title">
    Plan Event
</h1>
<div class="row">
    <form class="col s12" action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
            <div class="row" id="{{forloop.counter}}">
                <div class="input-field col s12" >
                    {{ field }}
                    {{ field.label_tag }}
                    {{ field.errors }}
                </div>
            </div>
        {% endfor %}
        <input type="submit" value="Submit" id="submit_button" />
    </form>
</div>
{% endblock %}
{% block exscript %}
    <script>
        $(document).ready(function() {
            $('select').material_select();
        });
    </script>
{% endblock %}